<div class="task-container">

  <section class="task-form-section">

    <article class="task-title-article">
      <h2 class="h2-title">Task</h2>
    </article>

    <article class="task-form-article">

      <form #form="ngForm" action="" method="post" (ngSubmit)="createNewTask(form)">

        <article class="task-form-title">
          <input #title="ngModel" ngModel type="text" name="title" id="title" placeholder="Title" [class.error-border]="(title.touched && (title.value.length < 3 || title.value.length > 255)) || isTitleIncorrect" required [minLength]="3" [maxLength]="255">
        </article>

        <article class="task-form-project">
          <label for="project">Project</label>
          <select #project="ngModel" ngModel name="project" id="project" [class.error-border]="(project.touched && project.value.length == 0) || isProjectUnSelected" required [minlength]="1">
            <ng-template #loadedPr>
              <option value="" selected hidden>Choose</option>
              <option *ngFor="let project of projectAccountOwner" value="{{project.id}}">{{project.title}}</option>
            </ng-template>

            <ng-template #loading>
              <option value="">Please wait while loading projects</option>
            </ng-template>

            <ng-template #emptyPr>
              <option value="">You don't have any projects</option>
            </ng-template>

            <ng-container
              [ngTemplateOutlet]="projectAccountOwner === undefined ? loadingPriority : projectAccountOwner.length == 0 ? emptyPr : loadedPr"></ng-container>

          </select>
        </article>

        <article class="task-form-flex">

          <article class="task-form-priority">
            <label for="priority">Priority</label>

            <select #priority (change)="priorityText=priority.value" name="priority" id="priority">
              <ng-template #loadingPriority>
                <option value="">Loading</option>
              </ng-template>

              <ng-template #emptyPriority>
                <option value="">Empty list</option>
              </ng-template>

              <ng-template #showEnumPriority>
                <option *ngFor="let enumPriority of enums?.priority" value="{{enumPriority}}"
                        [selected]="enumPriority === 'Low'">{{enumPriority}}</option>
              </ng-template>

              <ng-container
                [ngTemplateOutlet]=" enums?.priority === undefined ? emptyPriority : enums?.priority?.length == 0 ? loadingPriority : showEnumPriority"></ng-container>
            </select>
          </article>

          <article class="task-form-board">
            <label for="board">Board</label>
            <select #boardB name="board" id="board" (change)="populateAssignedTo(boardB.value)" [class.error-border]="isBoardUnSelected">


              <ng-template #loadingBoard>
                <option value="">Please wait while loading</option>
              </ng-template>

              <ng-template #emptyBoard>empty board</ng-template>

              <ng-template #showBoards>
                <option value="" selected hidden>Choose</option>
                <option *ngFor="let board of boards" value="{{board.id}}">{{board.name}}</option>
              </ng-template>

              <ng-container
                [ngTemplateOutlet]="boards === undefined ? loadingBoard : boards.length == 0 ? emptyBoard : showBoards"></ng-container>

            </select>
          </article>

        </article>

        <article class="task-form-flex">
          <article class="task-form-assignedto">
            <label for="assignedTo">Assigned to</label>
            <select #assignedToS name="assignedTo" id="assignedTo" (change)="assignedToIndex = assignedToS.value">

              <ng-template #loadingAssignedTo>
                <option value="">Loading</option>
              </ng-template>

              <ng-template #waitingToChooseBoard>
                <option value="">Choose Board</option>
              </ng-template>

              <ng-template #emptyAssignedTo>
                <option value="">Empty list</option>
              </ng-template>

              <ng-template #showAssignedTo>
                <option selected hidden>Choose member</option>
                <option *ngFor="let users of assignedTo" value="{{users.id}}">{{users.firstName + ' ' + users.lastName }}</option>
              </ng-template>

              <ng-container [ngTemplateOutlet]="(assignedTo === undefined && boards) ? waitingToChooseBoard: assignedTo === undefined ? loadingAssignedTo : assignedTo.length == 0 ? emptyAssignedTo : showAssignedTo"></ng-container>

            </select>
          </article>

          <article class="task-form-status">
            <label for="status">Status</label>
            <select #status name="status" id="status"  (change)="statusText=status.value">

              <ng-template #loadingStatus>
                <option value="">Loading</option>
              </ng-template>

              <ng-template #emptyStatus>
                <option value="">Empty list</option>
              </ng-template>

              <ng-template #showStatus>
                <option *ngFor="let status of enums?.status | divideString:'_'" [selected]="status === 'New'"
                        value="{{status}}">{{status}}</option>
              </ng-template>

              <ng-container
                [ngTemplateOutlet]="enums?.status === undefined ? loadingStatus : enums?.status?.length == 0 ? emptyStatus : showStatus"></ng-container>


            </select>
          </article>

        </article>


        <article class="task-form-type">
<!--          <input #type="ngModel" ngModel type="text" name="type" id="type" placeholder="Type" >-->
          <label for="type">Type</label>
          <select #type name="type" id="type" (change)=" typeSelectedText = type.value" [class.error-border]="isTypeIncorrect">


            <ng-template #loadingType>
              <option value="">Please wait while loading</option>
            </ng-template>

            <ng-template #emptyType>empty board</ng-template>

            <ng-template #showType>
              <option value="" selected hidden>Choose</option>
              <option *ngFor="let type of enums?.type | divideString:'_'" value="{{type}}">{{type}}</option>
            </ng-template>

            <ng-container
              [ngTemplateOutlet]="enums?.type === undefined ? loadingType : enums?.type?.length == 0 ? emptyType : showType"></ng-container>

          </select>

        </article>

        <article class="task-form-story-point">
          <input #point="ngModel" ngModel type="number" name="point" id="point" placeholder="Story point">
        </article>

        <article class="task-form-description">

          <article class="form-description-title">
            <h1 class="no-margin">characters : <span>255</span></h1>
          </article>

          <textarea #description="ngModel" ngModel name="description" id="description" rows="4" placeholder="Description"></textarea>
        </article>

        <article class="error-text">
          <p class="no-margin" [innerText]="errorText" *ngIf="errorText.length > 0"></p>
        </article>

        <article class="task-form-submit-btn">
          <input type="submit" value="Create">
        </article>

      </form>


    </article>

  </section>

</div>
